* {
  fonts-family: Roboto;
  font-weight: bold;
}

.text-color {
  color: #0878ce;
}

h1 {
  color: #0878ce;
  fonts-family: Roboto;
  font-weight: bold;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.changebtn{
   fonts-family: Roboto;
   font-weight: bold;
}

.home-div {
    color: white;
    background-color: #0878ce;
}

.centered {
    background: transparent;
}

#bodybox {
    margin:auto;
    max-width: 550px; /* maybe adjust to window width? percentage*/
    height: auto;
    background-color: #012950;
    border-style: solid;
    border-widgth: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /*box-shadow: 5px 5px 5px grey;*/
    border-radius: 15px;
}

#chatborder {
  border-style: solid;
  background-color: white;
  border-width: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
}

#chatbox {
    height: 22px;
    width: 100%;
}

.chatlog1 {
    color: #de1f29;
}

.chatlog2 {
    color: #0561a8;
}
