<!doctype html>
<html lang="en">

<head>
  <title>Bathroom</title>
  <style>
	body {
	  background-image: url('../static/bathroom.jpeg');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;

	}
	</style>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles.css">

</head>

<body>

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed container-fluid ">
    <a href="index.html" class="navbar-brand">HOME</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id=navbarMenu>
      <ul class="navbar-nav mr-auto mx-auto-text-center">
        <li class="nav-item">
          <a href="chat.html" class="nav-link">CHAT</a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id=navbarMenu>
      <ul class="navbar-nav mr-auto mx-auto-text-center">
        <li class="nav-item">
          <a href="flight_hub.html" class="nav-link">HUB</a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id=navbarMenu>
      <ul class="navbar-nav mr-auto mx-auto-text-center">
        <li class="nav-item">
          <a href="flight_data.html" class="nav-link">FLIGHT</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- NAVBAR -->

  <h2 class="text-center">Flight Hub</h2>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<div class ="text-center">
<form class=method = GET role="button">Check Bathroom Availibility</form>


</div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<!--<a href="default.asp"><img src="smiley.gif" alt="HTML tutorial" style="width:42px;height:42px;"></a>-->

<!--<a style="color: blue;" href="file:///C:/Users/rl386/Documents/GitHub/TH_AA_Challenge/templates/flight_menu.html"> Food Menu </a>-->





</body>









</html>
